<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit My Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_app/style.css' %}">
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="header">
                <img src="{% static 'images/hebrews-coffee-logo.png' %}" alt="Logo" height=170 width=170>
                <h5>Logged in as, <br> {{user.first_name}} {{user.last_name}} <br><a href="/user/logout">Logout</a></h5>
            </div>
            <div class="body">
                <div class="nav_bar">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/menu">Menu</a></li>
                        <li><a href="/order">Order-Now</a></li>
                    </ul>
                </div>
                <div id="account_form">
                    <div class="form">
                        <h1>Edit My Account</h1>
                        <form action="/user/process_edit_account" method="POST">
                        {% csrf_token %}
                            {% if messages %}
                                <ul class="messages">    
                                    {% for message in messages %}    
                                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="label_field">
                                <label for="first_name">First Name</label>
                                <input type="text" name="first_name" value="{{user.first_name}}">
                            </div>
                            <div class="label_field">
                                <label for="last_name">Last Name</label>
                                <input type="text" name="last_name" value="{{user.last_name}}">
                            </div>
                            <div class="label_field">
                                <label for="email">Email</label>
                                <input type="text" name="email" value="{{user.email}}">
                            </div>
                            <button>Update</button>
                        </form>
                    </div>
                </div>
                <div id="orders">
                    <h1>Your Orders</h1>
                    {% for order in orders %}
                        <div class="order">
                            <h4>Order #: {{order.id}}</h4>
                            <p>Item: {{order.drink.name}}</p>
                            <p>Purchase Total: ${{order.total}}</p>
                            <p>Purchase Date: {{order.created_at}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>