<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/app_1/style.css' %}">
</head>
<body>
    <div class="background">
        <div class="container">
            <div class="header">
                <img src="{% static 'images/hebrews-coffee-logo.png' %}" alt="Logo" height=170 width=170>
                {% if 'user_id' in request.session %}
                    <h5>Logged in as, <br> {{user.first_name}} {{user.last_name}} <br><a href="/user/my_account">My Account</a>| <a href="/user/logout">Logout</a></h5>
                {% else %}
                    <a href="/user/login_register">Login | Register</a>
                {% endif %}
            </div>
            <div class="body">
                <div class="nav_bar">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="menu">Menu</a></li>
                        <li><a href="order">Order-Now</a></li>
                    </ul>
                </div>
                <h1>Hebrews Coffee Menu</h1>
                <h2>Hot Drinks</h2>
                    {% for drink in drinks %}
                        <div class="drink">
                            {% if drink.type == "hot" %}
                                <h3>{{drink.name}}</h3>
                                <img src="{{drink.image}}" alt="hot_coffee" width=300 height200>
                                <p>{{drink.description}} <br>Small: ${{drink.small}} | Medium: ${{drink.medium}} | Large: ${{drink.large}}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                <h2>Cold Drinks</h2>
                {% for drink in drinks %}
                <div class="drink">
                    {% if drink.type == "cold" %}
                        <h3>{{drink.name}}</h3>
                        <img src="{{drink.image}}" alt="cold_coffee" width=300 height200>
                        <p>{{drink.description}} <br>Small: ${{drink.small}} | Medium: ${{drink.medium}} | Large: ${{drink.large}}</p>
                    {% endif %}
                </div>
            {% endfor %}
                <button><a href="order">I am ready to place my order!</a></button>
            </div>
        </div>
    </div>
</body>
</html>